*{
  box-sizing:border-box;
}
body{
  font-family:sans-serif;
padding:0;
margin:0;

}
h2{
  color:whitesmoke;

}
.app-container{
  display:flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  background-color: rgb(33,16,.94);
  height: 100vh;

}
.container{
  padding:1rem;
  display:flex;
  flex-direction: row-reverse;
  background-color: whitesmoke;
  justify-content: space-between;
  color:#343434;
  align-items:center;
  border-radius:0.5rem;

}
section{
  padding: 0 1rem;
  width:60rem;
  height: 20rem;
  text-align:center;
}
.top-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
h4 , h5{
  text-align:center;
}
h5{
  color: orange;
}
button{
  margin: 1rem;
  padding: 0.5 rem 1rem;
  border:none;
  background-color: orange;
  color: aliceblue;
  border-radius: 2rem;
  font-size:medium;
  cursor:pointer;
}
button:hover{
 background-color: rgb( 67, 43,152);
}
img {
  width:20rem;
  box-shadow: rgba(100, 100 , 111, 0.2) 0px 7px 29px 0px ;

} 
p{
   padding: 0 12rem ;
   text-align: center;
   margin-top: 2rem ;
   color: rgba( 47,41,69);
   line-height: 2rem;
}